<%= form_for(@indicator) do |f| %>
  <% if @indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@indicator.errors.count, "error") %> prohibited this indicator from being saved:</h2>

      <ul>
      <% @indicator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <table>
      <div class="field">
          <tr><td><%= f.label "Case ID" %></td><td><%= f.text_field :case %></td></tr>
      </div>
      <div class="field">
          <tr><td><%= f.label "Indicators" %></td><td><%= f.text_area :content %></td></tr>
      </div>
      <div class="field">
          <tr><td><%= f.label "Description" %></td><td><%= f.text_area :description %></td></tr>
      </div>
      <div class="field">
          <tr><td><%= f.label "Analyst" %></td><td><%= f.text_field :analyst %></td></tr>
      </div>
  </table>
  <div class="actions">
      <%= f.submit %>
  </div>

<% end %>
