<%= javascript_tag do %>
    window.DataType = "<%=j @datatype %>";
<% end %>

<% content_for :head, auto_discovery_link_tag(:rss, indicators_url(format: "rss")) %>
<%- model_class = Indicator.new.class -%>
<div class="page-header">
   <div class="rss-icon">
      <%= link_to image_tag("feed-icon-28x28.png"), indicators_url(format: "rss") %>
   </div>
    <div>
      <h1><%=t '.title', :default => @pagename %></h1>
    </div>
</div>

<div class="btn-group">
   <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
       <i class='icon-plus icon-white'></i> New Indicator
       <span class="caret"></span>
   </a>
   <ul class="dropdown-menu">
       <!-- dropdown menu links -->
       <li><%= link_to("<i class=\"icon-eye-open icon-white\"></i> Basic".html_safe, new_indicator_path) %></li>
       <li><%= link_to("<i class=\"icon-beaker icon-white\"></i> Malware".html_safe, new_malware_path) %></li>
   </ul>
</div>
<br />
<table class="table table-striped" id="indicatorTable" data-source="<%= indicators_url(format: "json") %>" >
  <thead>
    <tr>
      <th class="indicator-content"><%= model_class.human_attribute_name(:content) %></th>
      <th class="indicator-case"><%= model_class.human_attribute_name(:case) %></th>
      <th class="indicator-description"><%= model_class.human_attribute_name(:description) %></th>
      <th class="indicator-analyst"><%= model_class.human_attribute_name(:analyst) %></th>
      <th class="indicator-controls"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<br />
<%= link_to t('.new', :default => "<i class='icon-plus icon-white'></i> New Indicator".html_safe), 
    new_indicator_path,
    :class => 'btn btn-primary' %>
