<h1>Listing indicators</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Case</th>
    <th>Description</th>
    <th>Analyst</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @indicators.each do |indicator| %>
  <tr>
    <td><%= indicator.content %></td>
    <td><%= indicator.case %></td>
    <td><%= indicator.description %></td>
    <td><%= indicator.analyst %></td>
    <td><%= link_to 'Show', indicator %></td>
    <td><%= link_to 'Edit', edit_indicator_path(indicator) %></td>
    <td><%= link_to 'Destroy', indicator, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Indicator', new_indicator_path %>
