<h1>Indicators</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Case</th>
    <th>Description</th>
    <th>Analyst</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @indicators.each do |indicator| %>
  <tr>
    <td><%= link_to indicator.content, indicator %></td>
    <td><%= indicator.case %></td>
    <td><%= indicator.description %></td>
    <td><%= indicator.analyst %></td> 
    <td><%= link_to 'Edit', edit_indicator_path(indicator) %></td>
    <td><%= link_to 'Destroy', indicator, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New', new_indicator_path, :class => "btn btn-success" %>
