<h1>Indicators</h1>

<table id="indicators">
<thead>
  <tr>
    <th>Indicator</th>
    <th>Case</th>
    <th>Description</th>
    <th>Analyst</th>
    <th>Actions</th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @indicators.each do |indicator| %>
  <tr>
    <td><%= link_to indicator.content, indicator %></td>
    <td><%= indicator.case %></td>
    <td><%= indicator.description %></td>
    <td><%= indicator.analyst %></td> 
    <td><%= link_to '<i class="icon-pencil icon-white"></i>'.html_safe, edit_indicator_path(indicator), :class => "btn btn-info" %>
    <%= link_to '<i class="icon-trash icon-white"></i>'.html_safe, indicator, confirm: 'Are you sure you want to delete this indicator?', method: :delete, :class => "btn btn-danger" %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to '<i class="icon-plus icon-white"></i> New'.html_safe, new_indicator_path, :class => 'btn btn-success' %>
