<% content_for :head, auto_discovery_link_tag(:rss, indicators_url(format: "rss")) %>
<%- model_class = Indicator.new.class -%>
<div class="page-header">
   <div class="rss-icon">
      <%= link_to image_tag("feed-icon-28x28.png"), indicators_url(format: "rss") %>
   </div>
    <div>
      <h1><%=t '.title', :default => @pagename %></h1>
    </div>
</div>
<%= link_to t('.new', :default => "<i class='icon-plus icon-white'></i> New Indicator".html_safe),
    new_indicator_path,
    :class => 'btn btn-primary' %>

<div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              Action
                  <span class="caret"></span>
                    </a>
                      <ul class="dropdown-menu">
                              <!-- dropdown menu links -->
                              <li><a href="#">Item 1</a></li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                          <button class="btn dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                                                    <ul class="dropdown-menu">
                                                                    <li><a href="#">Action</a></li>
                                                                                <li><a href="#">Another action</a></li>
                                                                                            <li><a href="#">Something else here</a></li>
                                                                                                        <li class="divider"></li>
                                                                                                                    <li><a href="#">Separated link</a></li>
                                                                                                                              </ul>
                                                                                                                                      </div><!-- /btn-group -->
<table class="table table-striped">
  <thead>
    <tr>
      <th class="indicator-content"><%= model_class.human_attribute_name(:content) %></th>
      <th class="indicator-case"><%= model_class.human_attribute_name(:case) %></th>
      <th class="indicator-description"><%= model_class.human_attribute_name(:description) %></th>
      <th class="indicator-analyst"><%= model_class.human_attribute_name(:analyst) %></th>
      <th class="indicator-controls"><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @indicators.each do |indicator| %>
      <tr>
        <td class="indicator-content"><%= link_to indicator.content, indicator_path(indicator) %></td>
        <td class="indicator-case"><%= indicator.case %></td>
        <td class="indicator-description"><%= indicator.description %></td>
        <td class="indicator-analyst"><%= indicator.analyst %></td>
        <td class="indicator-controls">
          <%= link_to t('.edit', :default => "<i class='icon-pencil icon-white'></i>".html_safe),
              edit_indicator_path(indicator), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => "<i class='icon-trash icon-white'></i>".html_safe),
              indicator_path(indicator),
              :method => :delete,
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => "<i class='icon-plus icon-white'></i> New Indicator".html_safe), 
    new_indicator_path,
    :class => 'btn btn-primary' %>
