<%= form_for @privacy_tag, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :content, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
        <%= f.text_area :description, :class => 'text_field', :rows => 10 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :color, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :color, PrivacyTag::COLORS %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary', :value => 'Create' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    privacy_tags_path, :class => 'btn' %>

  </div>
<% end %>
