<%- model_class = @privacy_tag.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:content) %>:</strong></dt>
  <dd><div class="<%= @privacy_tag.PrivacyColorClass %>"><%= @privacy_tag.content %></div></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @privacy_tag.description%></dd>
</dl>

<div class="form-actions">
  <%= link_to "Back", privacy_tags_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_privacy_tag_path(@privacy_tag), :class => 'btn' %>
</div>
