<!DOCTYPE html>
<html>
<head>
    <title><%= @pagename %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<div class="container">
<%= link_to "Go to github to put in bug fixes and suggest improvements", "https://github.com/blackfist/CIFGlue" %>
  <div class="navbar-fixed">
      <div class="navbar-inner">
          <div class="container">
              <%= link_to image_tag(Settings::ORGIMAGE), indicators_path, :class => "brand" %>
          </div>
      </div>
  </div>

  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">x</a>
      <%= msg %>
    </div>
  <% end %>
  <%= yield %>
</div>

</body>
</html>
