<!DOCTYPE html>
<html>
<head>
    <title><%= @pagename %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<div class="container">
<%= link_to "Go to github to put in bug fixes and suggest improvements", "https://github.com/blackfist/CIFGlue" %>
  <div class="navbar">
     <div class="navbar-inner">
         <%= link_to image_tag(Settings::ORGIMAGE, :size=>"50x20"), indicators_path, :class => "brand" %>
        <ul class="nav">
           <li><%= link_to "Indicators", indicators_path %></li>
           <li><%= link_to "Privacy", privacy_tags_path %></li>
        </ul>
     </div>
 </div>
  <%= bootstrap_flash %>

  <%= yield %>
</div>

</body>
</html>
